.ipynb_checkpoints
*/.ipynb_checkpoints/*
/notebooks/pitch_detection/Maddox/pitches*
/notebooks/pitch_detection/Maddox/data*
*.wav
*.zip
*.mp4
*.out
!OptimizedRandomForestRegressor.zip
html/georgian/data/syllables/*/*/*_save.txt
*/oauth-credentials.json
/html/composer.json
/html/composer.lock
/html/vendor
